---
import Layout from '../layouts/Layout.astro';
import { getBlogPosts } from '../lib/turso';
import BlogPost from '../components/BlogPost.astro';

const posts = await getBlogPosts();
---

<Layout title="Welcome to My Blog">
	<h1>Welcome to My Blog</h1>
	<section>
		{posts.map((post) => (
			<BlogPost 
				title={post.title} 
				slug={post.slug} 
				excerpt={post.excerpt} 
			/>
		))}
	</section>
</Layout>